<% if @category.errors.any? %>
  <div class="row">
    <div class="alert alert-error span8">
      <h5>Please Fix the Following Errors:</h5>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <div class="control-group">
    <%= f.label :name, "Category Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.submit button_name, class: "btn btn-primary" %>
  </div>
<% end %>