  <div class="row">
    <!-- <div class='span0 well'>
      HERE WE HAVE LINKS
    </div> -->
    <div class='span8 well'>
      <% if @vote.nil? %>
      <% elsif @vote.errors.any? %>
        <div class="alert">
          <% @vote.errors.full_messages.each do |error| %>
            <%= puts error %>
            <% end %>
        </div>
      <% end %>

      <% if logged_in? %>
      <div class="vote-box"></div>
        <div class='span0 well pull-right'>
        <%= link_to vote_post_path(post, :vote => 'true'), remote: true, method: 'post' do %>
        <i class='icon-thumbs-up'></i>
        <% end %>
          <br/>
          <span id='post-<%= post.id %>-number'>
          <%= post.total_votes %> Votes
          </span>
          <br/>
        <%= link_to vote_post_path(post, :vote => 'false'), method: 'post' do %>
        <i class='icon-thumbs-down'></i>
        <% end %>
        </div>
      <% else %>
      <div class='span0 well pull-right'>
        <%= post.total_votes %> Total Votes
      </div>
      <% end %>

      <%= render post.categories %>

      <h4><%= link_to post.title, good_url(post.url), :target => "blank" %></h4> <!-- good_url is an application helper -->
      <p><%= post.description %></p>
        <p>
          <span class=''>Posted by: <%= post.creator.username %></span><br/>
          <span class=''>Posted on: <%= good_looking_time(post.created_at) %></span>
        </p>
      <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %>
          <%= link_to "Edit Post", edit_post_path(post) %>
        </span>
      </small>

    </div>
  </div>