<% if logged_in? %>
<p class="pull-right">
  (<%= link_to "Edit This Post", edit_post_path(@post) %>)
</p>
<% end %>

<p> <%= render @post.categories %> </p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<!-- Looks to see if there are any current comments. If not, nothing will show up -->

 <!-- here goes the comment form -->
<%= render 'shared/form_errors', object: @comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body, "Leave a Comment" %>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.submit "Create Comment", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <% if comment.errors.any? == true %>
    <% else %>
      <div class="span8 well">
        <% if logged_in? %>
          <div class='span0 well pull-right'>
            <%= link_to vote_post_comment_path(@post, comment, :vote => 'true'), method: 'post' do %>
            <i class='icon-thumbs-up'></i>
            <% end %>
              <br/>
            <%= comment.total_votes %> Votes
              <br/>
            <%= link_to vote_post_comment_path(@post, comment, :vote => 'false'), method: 'post' do %>
            <i class='icon-thumbs-down'></i>
            <% end %>
          </div>
        <% else %>
          <div class='span0 well pull-right'>
            <%= comment.total_votes %> Total Votes
          </div>
        <% end %>

        <%= comment.body %>
          <br/>
          <small>Posted by: <%= comment.creator.username %></small><br/>
          <small>Posted on: <%= good_looking_time(comment.created_at) %></small>
      </div>
    <% end %>
  <% end %>

