<% if logged_in? %>
<p class="pull-right">
  (<%= link_to "Edit This Post", edit_post_path(@post) %>)
</p>
<% end %>

<p> <%= render @post.categories %> </p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<!-- Looks to see if there are any current comments. If not, nothing will show up -->

 <!-- here goes the comment form -->
<%= render 'shared/form_errors', object: @comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body, "Leave a Comment" %>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
    <br/>
    <%= f.submit "Create Comment", class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <% if comment.errors.any? == true %>
    <% else %>
    <div class="well">
      <%= comment.body %>
      <br/>
      <small>Posted by: <%= comment.creator.username %></small><br/>
      <small>Posted on: <%= good_looking_time(comment.created_at) %></small>
    </div>
  <% end %>
  <% end %>

